APP_ENV=development
API_HOST=127.0.0.1
API_PORT=8000
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/it_labor_market
RAW_DATA_PATH=./datasets/raw
PROCESSED_DATA_PATH=./datasets/processed
LOG_LEVEL=INFO
